In [1]:
import pandas as pd

In [40]:
df = pd.read_parquet('https://github.com/Machina-Labs/ml_ops_data_engineer_hw/raw/main/data/sample.parquet')

In [56]:
df[df['field'] == 'z'].head(100)

,time,value,field,robot_id,run_uuid,sensor_type
100004,2022-11-23T20:40:00.005Z,-1.8051,z,1,8.910096e+18,encoder
100005,2022-11-23T20:40:00.017Z,-1.8056,z,1,8.910096e+18,encoder
100006,2022-11-23T20:40:00.029Z,-1.8138,z,1,8.910096e+18,encoder
100007,2022-11-23T20:40:00.041Z,-1.8072,z,1,8.910096e+18,encoder
100008,2022-11-23T20:40:00.053Z,-1.8089,z,1,8.910096e+18,encoder
...,...,...,...,...,...,...
100099,2022-11-23T20:40:01.145Z,-1.8139,z,1,8.910096e+18,encoder
100100,2022-11-23T20:40:01.157Z,-1.8141,z,1,8.910096e+18,encoder
100101,2022-11-23T20:40:01.169Z,-1.8097,z,1,8.910096e+18,encoder
100102,2022-11-23T20:40:01.181Z,-1.8055,z,1,8.910096e+18,encoder
100103,2022-11-23T20:40:01.193Z,-1.8020,z,1,8.910096e+18,encoder

In [57]:
df[df['field'] == 'x'].head(100)

,time,value,field,robot_id,run_uuid,sensor_type
0,2022-11-23T20:40:00.005Z,821.7808,x,1,8.910096e+18,encoder
1,2022-11-23T20:40:00.017Z,821.8217,x,1,8.910096e+18,encoder
2,2022-11-23T20:40:00.029Z,821.8507,x,1,8.910096e+18,encoder
3,2022-11-23T20:40:00.041Z,821.8964,x,1,8.910096e+18,encoder
4,2022-11-23T20:40:00.053Z,821.9573,x,1,8.910096e+18,encoder
...,...,...,...,...,...,...
95,2022-11-23T20:40:01.145Z,846.5265,x,1,8.910096e+18,encoder
96,2022-11-23T20:40:01.157Z,846.9804,x,1,8.910096e+18,encoder
97,2022-11-23T20:40:01.169Z,847.4371,x,1,8.910096e+18,encoder
98,2022-11-23T20:40:01.181Z,847.8975,x,1,8.910096e+18,encoder
99,2022-11-23T20:40:01.193Z,848.3624,x,1,8.910096e+18,encoder

In [58]:
df.tail(100)

,time,value,field,robot_id,run_uuid,sensor_type
1546491,2022-11-23T20:41:16.64Z,-80.325186,fx,1,1.240519e+19,load_cell
1546492,2022-11-23T20:41:16.65Z,-83.375967,fx,1,1.240519e+19,load_cell
1546493,2022-11-23T20:41:16.66Z,-83.629873,fx,1,1.240519e+19,load_cell
1546494,2022-11-23T20:41:16.67Z,-85.590811,fx,1,1.240519e+19,load_cell
1546495,2022-11-23T20:41:16.68Z,-83.372061,fx,1,1.240519e+19,load_cell
...,...,...,...,...,...,...
1546586,2022-11-23T20:41:17.59Z,-85.692373,fx,1,1.240519e+19,load_cell
1546587,2022-11-23T20:41:17.6Z,-87.231436,fx,1,1.240519e+19,load_cell
1546588,2022-11-23T20:41:17.61Z,-85.649405,fx,1,1.240519e+19,load_cell
1546589,2022-11-23T20:41:17.62Z,-86.430655,fx,1,1.240519e+19,load_cell
1546590,2022-11-23T20:41:17.63Z,-86.477530,fx,1,1.240519e+19,load_cell

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1546591 entries, 0 to 1546590
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   time         1546591 non-null  object
 1   value        1546591 non-null  float64
 2   field        1546591 non-null  object
 3   robot_id     1546591 non-null  int64
 4   run_uuid     1546591 non-null  float64
 5   sensor_type  1546591 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 70.8+ MB

In [20]:
df['sensor_type'].unique()

array(['encoder', 'load_cell'], dtype=object)

In [21]:
df['robot_id'].unique()

array([1, 2])

In [22]:
df['field'].unique()

array(['x', 'y', 'z', 'fx', 'fy', 'fz'], dtype=object)

Looks like there are no NaNs in the sample data.

In [19]:
df['time'] = pd.to_datetime(df['time'], format='ISO8601')

In [27]:
df.dtypes

time           datetime64[ns, UTC]
value                      float64
field                       object
robot_id                     int64
run_uuid                   float64
sensor_type                 object
dtype: object

In [63]:
uuids = df['run_uuid'].unique()

In [66]:
int(uuids[1])

7582293080991469568

In [68]:
df.groupby(['run_uuid', 'robot_id', 'field'], dropna=False).count()

                              time  value  sensor_type
run_uuid     robot_id field
6.176977e+18 1        fx     60000  60000        60000
                      fy     60000  60000        60000
                      fz     60000  60000        60000
                      x      50001  50001        50001
                      y      50001  50001        50001
                      z      50001  50001        50001
             2        fx     59999  59999        59999
                      fy     59999  59999        59999
                      fz     59999  59999        59999
                      x      50001  50001        50001
                      y      18802  18802        18802
7.582293e+18 1        fx     60001  60001        60001
                      fy     60001  60001        60001
                      fz     60001  60001        60001
                      x      50001  50001        50001
                      y      50001  50001        50001
                      z      50001  50001        50001
             2        fx     60000  60000        60000
                      fy     60000  60000        60000
                      fz     60000  60000        60000
                      x      50001  50001        50001
                      y      50001  50001        50001
                      z      50001  50001        50001
8.910096e+18 1        x      50002  50002        50002
                      y      50002  50002        50002
                      z      50002  50002        50002
             2        x      50003  50003        50003
                      y      50003  50003        50003
                      z      50003  50003        50003
1.240519e+19 1        fx      7764   7764         7764

It looks like different metrics are available for different parts/robots.

In [37]:
gb['time'].describe(

                        count                                 mean  \
run_uuid     robot_id
6.176977e+18 1         330003  2022-11-23 20:45:00.003085568+00:00
             2         248800  2022-11-23 20:44:45.855714304+00:00
7.582293e+18 1         330006  2022-11-23 20:45:00.000130560+00:00
             2         330003  2022-11-23 20:45:00.001095680+00:00
8.910096e+18 1         150006  2022-11-23 20:44:59.997143040+00:00
             2         150009  2022-11-23 20:45:00.002875136+00:00
1.240519e+19 1           7764  2022-11-23 20:40:38.816262656+00:00

                                                    min  \
run_uuid     robot_id
6.176977e+18 1         2022-11-23 20:40:00.007000+00:00
             2         2022-11-23 20:40:00.008000+00:00
7.582293e+18 1         2022-11-23 20:40:00.001000+00:00
             2         2022-11-23 20:40:00.003000+00:00
8.910096e+18 1         2022-11-23 20:40:00.005000+00:00
             2         2022-11-23 20:40:00.008000+00:00
1.240519e+19 1         2022-11-23 20:40:00.003000+00:00

                                                       25%  \
run_uuid     robot_id
6.176977e+18 1         2022-11-23 20:42:30.007000064+00:00
             2         2022-11-23 20:42:13.291249920+00:00
7.582293e+18 1                   2022-11-23 20:42:30+00:00
             2            2022-11-23 20:42:30.004000+00:00
8.910096e+18 1         2022-11-23 20:42:29.998000128+00:00
             2         2022-11-23 20:42:29.999000064+00:00
1.240519e+19 1         2022-11-23 20:40:19.409499904+00:00

                                                       50%  \
run_uuid     robot_id
6.176977e+18 1         2022-11-23 20:45:00.004999936+00:00
             2         2022-11-23 20:44:35.477499904+00:00
7.582293e+18 1         2022-11-23 20:45:00.000499968+00:00
             2         2022-11-23 20:45:00.001999872+00:00
8.910096e+18 1         2022-11-23 20:44:59.997000192+00:00
             2         2022-11-23 20:45:00.003000064+00:00
1.240519e+19 1         2022-11-23 20:40:38.817000192+00:00

                                                       75%  \
run_uuid     robot_id
6.176977e+18 1         2022-11-23 20:47:30.001999872+00:00
             2         2022-11-23 20:47:17.735500032+00:00
7.582293e+18 1         2022-11-23 20:47:29.998000128+00:00
             2         2022-11-23 20:47:29.999000064+00:00
8.910096e+18 1            2022-11-23 20:47:29.996000+00:00
             2         2022-11-23 20:47:30.007000064+00:00
1.240519e+19 1         2022-11-23 20:40:58.223500032+00:00

                                                    max
run_uuid     robot_id
6.176977e+18 1         2022-11-23 20:49:59.999000+00:00
             2         2022-11-23 20:49:59.993000+00:00
7.582293e+18 1         2022-11-23 20:49:59.998000+00:00
             2         2022-11-23 20:49:59.998000+00:00
8.910096e+18 1         2022-11-23 20:49:59.989000+00:00
             2         2022-11-23 20:49:59.999000+00:00
1.240519e+19 1         2022-11-23 20:41:17.630000+00:00

So, the robots probably constantly switch between parts.